* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,  body {
    overflow-x: hidden;
}
  body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #000000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  h2{
    font-size: 16px;
  }
  p{
    font-size: 20px;
  }
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
  }

/* Style the links inside the navigation bar */
.topnav a {
 
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #464e63;
  color: white;
}

.circular--square {
  width: auto;
  height: 50px; 
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
  background-image: url(Immagini/small-photo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  float: left;
  } 

  .topnav a .circular--square {
    float: left;
  }
.title{
  width: 830px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 83px;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}

.presentation {  
  width: 100%;  
  height: 228px;  
  gap: 10px;    
  padding: 60px 170px;  
  background-color: #464e63;
  margin-top: 50px;
  align-items: center;  
}

.big-photo {
  width: auto;
  height: 200px;
  opacity: 1;
}

.name {
  width: 760px;
  color: rgba(255,255,255,1);
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.degree {
  width: 760px;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: 1;
}


.label-1 {
  display: inline;
  text-align: center;
  justify-content: center;
  color: rgba(0,0,0,1);
  position: center;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  font-size: 12px;
  border-radius: 2px;
  opacity: 1;
  margin: 2px;
}
.label-2 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}

.label-3 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}
.label-4 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}
.description {
  width: 760px;
  color: white;
  font-size: 16px;
  opacity: 1;
}


.contact {
  color: rgba(255,255,255,1);
  font-size: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #464e63;
  outline-color: white;
  border-color: white;
  cursor: pointer;
}

button{
  width: 160px;
  height: 48px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  box-shadow: none;
  cursor: pointer; 
}

.cv {
  color: rgba(0,0,0,1);
  font-size: 16px;
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: white;
  border: none;
}

.my-project{
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #000;
  align-self: stretch;
}

.Products {
  width: 1440px;
  height:80px;
  display: flex;
  flex-direction: column;
  padding: 60px 170px;
}

.description-2 {
  align-self: stretch;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: #000;
  margin-top: 24px;
}

.Products-1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.Products-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.Products-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.Products-4 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.graphic {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-top: 60px;
  background-image: url(Immagini/grafica-1.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;

}    

.copywriting {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  background-image: url(Immagini/copy-1.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
}    

.discovery {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-top: 60px;
  background-image: url(Immagini/disco-1.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
}    
.wireframing {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-top: 60px;
  background-image: url(Immagini/wire-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;

}    

.ui {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  background-image: url(Immagini/acc-1.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
}    

.usertest {
  width: 25%;
  height: 335px;
  padding: 30px;
  margin-top: 60px;
  background-image: url(Immagini/CS-1.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
}    

.text-box {
  width: 25%;
  height: auto;
  padding: 12px;
  background-color: white; 
  box-shadow: 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1); 
  color: black;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
  border-radius: 2%;
}    
.text-box-central {
  width: 25%;
  height: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding: 12px;
  box-shadow: 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1); 
  background-color: white;
  color: black;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
  border-radius: 2%;
}    
.text-box-final {
  width: 85%;
  height: auto;
  padding: 12px;
  background-color: white; 
  box-shadow: 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1); 
  color: black;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
  border-radius: 2%;
}    
.final-exam {
  width: 83%;
  height: 340px;
  padding: 30px;
  margin-top: 60px;
  background-image: url(Immagini/CS-2.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  align-items: center;
  display:flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  text-align: left;
}    

.line{
  width: 100%;
  height: 0.5px;
  flex-grow: 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.container {
  height: 96px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin-top: 30px;
}

.title-2 {
  width: 520px;
  height: 48px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.description-1 {
  width: 520px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 0%;
}

.form-box{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.form-row textarea {
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  resize: none;
  width: 350px;
  height: 200px;
}

.form-row .instruction{
  color: #000000;
  font-size: 14px;
  text-align: start;
  justify-content: center;
}

.inputbox input:invalid {
  color: #D55C5F;
  box-shadow: none; 
  font-weight: bold;
}
.inputbox{
  margin: 30px 0;
  width: 350px;
}

.inputbox label{
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input {
  height: 50px;
  font-size: 1em;
  padding:0 35px 0 5px;
  
}
.inputbox ion-icon{
  color: black;
  font-size: 1.2em;
  top: 20px;
}

.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #000000;
  display: flex;
  justify-content: space-between;  
}

.forget label input{
  margin-right: 3px;
}

.forget label a{
  color: #000000;
  text-decoration: none;
}

.forget label a:hover{
  text-decoration: underline;
}

.form-row button:hover {
  background-color: #c0c2c0;
}


.register{
  width: 100%;
  height: 40px;
  background: #464e63;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: normal;
}

.button:hover {
  background-color: #c0c2c0;
}


.form-row button:active {
  background-color: #2ec01b;
}

.final-section {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px;
  background-color: #464e63;
}

.credit {
  font-size: 14px;
  text-align: center;
  color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

.topnav a {
 
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}
.circular--square {
  position: absolute;
  top: 3px;
  left: -18px;
  } 

.title{
  opacity: 0;
}
.presentation {  
  display: flex;  
  flex-direction: column;   
  padding: 0px;  
  height: 760px;
  margin-top: 50px;
  width: auto;
}
.big-photo {
  width: auto;
  height: 200px;
  opacity: 1;
  position: absolute;
  top:50px;
}

.name {
  width: auto;
  color: rgba(255,255,255,1);
  font-size: 24px;
  opacity: 1;
  text-align: left;
  position: absolute;
  top:240px;
}

.degree {
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: absolute;
  top: 300px;
}
.label-1 {
  display: inline;
  text-align: center;
  justify-content: center;
  color: rgba(0,0,0,1);
  position: center;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  font-size: 12px;
  border-radius: 2px;
  opacity: 1;
  margin: 2px;
}
.label-2 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}

.label-3 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}
.label-4 {
  display: inline;
  text-align: center;
  justify-content: center;
  background: white;
  padding-left:4px;
  padding-right:4px;
  padding-top: 2px;
  margin: 2px;
  opacity: 1;
  position: center;
  border-radius: 2px;
  font-size: 12px;
}
.description {
  width: 200px;
  color: white;
  font-size: 16px;
  opacity: 1;
  position: absolute;
  top: 480px;
}
.box-button {
  width: 160px;
  height: 108px;
  text-align: center;
  margin-left: 0px;
  align-items: center;
  display: flex;
  position: absolute;
  top: 660px;
  left:100px;
}

.contact {
  color: rgba(255,255,255,1);
  font-size: 16px;
  opacity: 1;
  background-color: #464e63;
  outline-color: white;
  border-color: white;
  cursor: pointer;
  position: relative;
  left: 200px;
}

button{
  width: 160px;
  height: 48px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  box-shadow: none;
  cursor: pointer; 
}

.cv {
  color: rgba(0,0,0,1);
  font-size: 16px;
  
  background-color: white;
  border: none;
}

.Products {
  width: 100%;
  height:80px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.my-project{
  font-size: px;
}

.description-2 {
  font-size: 12px;
  margin-top: 15px;
}
.Products-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:50px;
}
.Products-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:340px;
  position: absolute;
  top:1290px;
}
  .Products-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    padding-top: 50px;
  }

  .Products-4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    gap:360px;
    position: absolute;
    top:2590px;
  }
.graphic {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.copywriting {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;


}    

.discovery {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
 

}    
.wireframing {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;


}    

.ui {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

}    

.usertest {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

}    

.text-box {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}    

.text-box-central {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}    

.text-box-final {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.final-exam {
  width: 90%;
  height: 320px;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url(Immagini/CS-1.png);
} 
.inputbox{
  margin-top: 10px;
  width: 350px;
}
.container {
  margin-bottom: 25px;
 
}
.credit {
line-height: 15px;
  font-size: 8px;
}
}
@media (max-width: 1400px) {
  .topnav a {
    float: right;
    padding: 14px 16px;
  }
  .big-photo {
    position: absolute;
    left: 0px;
  }
  .presentation {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
  }

  .box-button {
  position: absolute;
  right:200px;
  align-items: center;
  width: 160px;
  height: 108px;
  text-align: center;
  margin: 12px;
  overflow: hidden;
  }
  
  .contact {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .cv {
    position: absolute;
    top: 60px;
    left: 0px;
  }
}